.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-header .panel.wrapper {
        background: #333;
    }

    .header.panel > .header.links {
        float: left;
        width: 100%; 
    }

    .header.panel > .header.links > li {
        width: auto; 
        float: right;
        // margin: 0;
    }

    header.panel > .header.links > li.authorization-link  a {
        position: relative;
    }
    header.panel > .header.links > li.authorization-link  a:after {
        content: ' or '; 
        display: block; 
        position: absolute; 
        height: 20px;
        width: 20px;
    }
    .header.panel > .header.links > li.welcome {
        // width: 80%; 
        float: left !important;
    }


    .page-layout-1column .home-content .block.widget .products-grid .product-item {
        width: 45%;
    }

    .nav-sections {
        // width: 300px;
        display: inline-block;
    }

    .page-layout-1column .home-content .featured-category .block.widget .products-grid .product-item{
        width: 15%;
    }

    .header.content {
        display: flex;
        justify-content: space-around;
    }

    .nav-sections {
        margin: -10px auto 0;
        order: 2;
    }

    .nav-sections, .nav-sections .navigation {
        background: none;
    }

    .block-search {
        order: 3;
    }

    .minicart-wrapper {
        order: 4;
    }

    .navigation .level0.parent > .level-top > .ui-menu-icon {
        margin-right: -5px;
    }

    .navigation .level0.parent > .level-top > .ui-menu-icon:after {
        font-size: 25px;
        line-height: 7px;
        color: #00b7ff;
        font-weight: bold;
    }

    .navigation .level0 > .level-top {
        text-transform: uppercase;
    }

}


.page-main {
    padding: 0;
    max-width: none; 
}

.hero-image {
    position: relative; 
}

.hero-image p img {
    width: 100%;
}

.hero-caption {
    position: absolute; 
    right: 0;
    left: 0;
    top: 25%;
    width: 600px;
    margin: 0 auto;
    text-align: center; 
}

.hero-caption h1 {
    margin: 0 auto 20px;
    font: 700 48px 'Arial', sans-serif;
    color: #fff;
}

.hero-caption p {
    font: 700 18px 'Arial', sans-serif;
    color: #fff;
}

.hero-caption h2 {
    font: 700 20px 'Arial', sans-serif;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    padding: 20px;
    background: #00b7ff;
    border: 1px solid #00b7ff; 
}

.hero-caption h2:hover {
    color: #00b7ff;
    background: #fff;
}

.home-content {
    max-width: 1350px; 
    margin: 0 auto; 
}

.home-content .kicker {
    margin: 50px auto; 

}

.home-content .gear-kicker {
    margin: 50px auto 150px; 
}

.gear-kicker p:first-child, .gear-kicker .kicker-text {
    display: inline-block; 
    width: 48%;
}

.gear-kicker p:first-child {
    text-align: right;
}

.gear-kicker .kicker-text {
    vertical-align: top;
}

// .gear-kicker p:nth-child(3) {
//     margin: -100px auto 50px;

// }

.kicker .kicker-link, .kicker .widget {
    width: 48%;
    display: inline-block;
    vertical-align: top;
} 

.kicker-link h2, 
.kicker-text h2 {
    font: 700 32px 'Arial', sans-serif;
    margin: 0;
    display: inline-block;
    color: #000;
}

.kicker-link h2:after, 
.kicker-text h2:after  {
    content: '';
    height: 25px;
    width: 5px;
    display: inline-block;
    border-right: 3px solid #aaa;
    padding-left: 3px;
}

.kicker-link span, 
.kicker-text span  {
    color: #000;
    font: 700 14px 'Arial', sans-serif;
    padding: 10px 10px;
    vertical-align: top;
    display: inline-block;
}



.kicker .block-title {
    display: none;
}

.kicker .block.widget .product-item-actions, .kicker .block.widget .product-reviews-summary {
    display: none;
}

.kicker .block.widget .price-box .price-wrapper {
    color: #00b7ff;
}

.kicker.mens-kicker .block.widget {
    padding-left: 25px;
}

.kicker.ladies-kicker .block.widget {
    padding-right: 25px;
    text-align: right;
}

.kicker .block-content .product-item .product-image-container {
    border: 1px solid #ccc; 
}

.gear-kicker {
    position: relative;
}

.gear-kicker img {
    position: absolute;
    bottom: -100px; 
    left: 22%;
    width: 60%;
}

.gear-kicker a img {
    position: static;
    width: initial;
}

.gear-kicker .kicker-text {
    padding-left: 20px;
}

.gear-kicker .kicker-text a {
    padding: 0 10px;
    text-decoration: none;
    color: #00b7ff;
    font-weight: 700;

}
.gear-kicker .kicker-text a span {
    padding: 0;
    color: #00b7ff;
    vertical-align: baseline;
}


// .kicker .block-content .product-item {
//     text-align: center;
// }

// .kicker .block.widget .product-item .product-item-details {
//     text-align: left;
// }

.featured-category {
    text-align: center;
    margin: 50px auto;
}

.featured-category h2 {
    font-weight: 700;
}

.featured-category p a {
    padding: 0 5px;
    
}

.featured-category p a:first-child:after {
    content: '';
    height: 15px;
    width: 5px;
    display: inline-block;
    border-right: 2px solid #aaa;
    padding-left: 10px;
} 

.featured-category .block-title {
    display: none;
}

.featured-category {}

.explore {
    text-align: center; 
    margin: 50px auto;

}

.explore a {
    display: inline-block;
    text-decoration: none;
}

.explore a h5 {
    color: #00b7ff;
}

.adventure {
    text-align: center;
    margin: 50px auto;
}

.adventure h2 {
    font-weight: 700;
}

.adventure h2 span {
    color: #00b7ff;
}

.adventure p {
    display: inline-block;
}